{% extends "layout.html" %}

{% block title %}
    Shop List
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th> ID </th>
                <th> Shop NAME </th>
                <th> BRANCH </th>
                <th> WORKING DAYS </th>
                <th> Holiday </th>
                <th> Customer NAME </th>
                <th> MOBILE NO </th>
                <th> EMAIL ID </th>
                <th> GENDER </th>
                <th> TOTAL SEATS </th>
                <th> SHOP ADDRESS </th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
